<div [style]="{'width': '1400px','display': 'flex','flex-wrap': 'wrap', 'justify-content': 'center', 'align-items': 'center', 'gap': '10px', 'padding': '40px', 'border-radius': '30px','background-image': 'linear-gradient(to right, var(--bluegray-500), var(--bluegray-800))' }">
        <p-card *ngFor="let author of authors" header="{{author.id}}" [style]="{'display': 'flex', 'width': '360px' }">
            <p><strong>Autor:</strong> {{ author.name }}</p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1" [style]="{ 'display': 'flex', 'gap': '10px' }">
                    <!-- Passa o id do livro para a página de edição 
                    <p-button label="Editar" icon="pi pi-pencil" severity="info" (click)="editarPublisher(publisher)"></p-button>
                    <p-button label="Deletar" icon="pi pi-trash" severity="danger"
                        (click)="excluirPublisher(publisher.id)"></p-button>-->
                </div>
            </ng-template>
        </p-card>
</div>
